<form #form="ngForm" class="form-container mt-5" (ngSubmit)="submitForm()">
  <h3>Create Todo</h3>
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        name="description"
        placeholder="Create a New Todo here"
        [(ngModel)]="todo.description"
        required
      />
    </div>

    <div class="col-3">
      <select
        class="form-select"
        name="priority"
        [(ngModel)]="todo.priority"
        required
      >
        <option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.id }}
        </option>
      </select>
    </div>

    <div class="col-2">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </div>
</form>
